@model CampaignDetailsVM
@{
    ViewBag.Title = $"{Model.CampaignName} Details";
}

<h1>
    @ViewBag.Title
</h1>

<ul class="list-unstyled">
    <li>NPCs</li>
    <li>
        <ul>
            @foreach (var npc in Model.Npcs)
            {
                <li><a asp-controller="Npc" asp-action="Details" asp-route-for="@npc.NpcId">@npc.NpcName</a></li>
            }
        </ul>
    </li>
    <li>Locations</li>
    <li>Quests</li>
    <li>Armies</li>
</ul>
